<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page for Url Shortener</title>
    <!-- Additional meta tag for compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Url Shortener</h1>
    <% if(locals && locals.Id){ %>
    <p>
      Generated Url:<a href="http://localhost:5000/url/<%= locals.Id %>"
        >http://localhost:5000/url/<%= locals.Id %></a
      >
    </p>
    <% } %>
    <div>
      <form method="POST" action="/url">
        <label>Enter your original URL</label>
        <input type="text" name="url" placeholder="https://example.com" />
        <button type="submit">Generate Short URL</button>
      </form>
    </div>
    <div>
      <% if (locals && locals.urls) { %>
      <table>
        <thead>
          <th>Serial No</th>
          <th>Short Id</th>
          <th>Redirect Url</th>
          <th>Clicks</th>
        </thead>
        <tbody>
          <% locals.urls.slice(-5).reverse().forEach((url, index) => { %>
          <tr>
            <td><%= locals.urls.length - index %></td>
            <td><%= url.shortId %></td>
            <td><%= url.redirectUrl %></td>
            <td><%= url.visitHistory.length %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
